
div.callout {
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #fff, #fff);
	position: relative;
	color: #000;
	padding: 15px 20px 15px 20px;
	border-radius: 7px;
	margin: 0 30px;
	min-height: 50px;
	max-width: 450px;
}

.callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.3em solid transparent;
	position: absolute;
}

.callout.left {
	background-color: #0084ff;
	color: white;
}

.callout.left::before {
	right: -13px;
	top: 40%;
	border-left: 8px solid #0084ff;
}

.callout.right::before {
	left: -13px;
	top: 40%;
	border-right: 8px solid #fff;
}


body {
	min-width: 600px;
}

.container {
	width: 1200px;
	/*height: 1014px;*/
}
.left-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #262f38;
	width: 360px !important;
	border-right: 4px solid #212830;
}
.menu.dropdown-toggle::before , .list-more.dropdown-toggle::before , #quick-message-list .dropdown-toggle::before{
	display: none !important;
}

.menu.dropdown-toggle::after , .list-more.dropdown-toggle::after {
	display: none !important;
}

@media only screen and 
(max-width: 910px) {
	.left-menu {
		display: none;
	}

	.chat-board, .chat-box {
		left: 0 !important;
	}

	.menu {
		/*z-index: 99999999;*/
	}

	.chat-contents {
		left: 20px !important;
	}
}

.navigation {
	height: 175px;
}
.logo {
	margin-top: 10px;
}
.menu {
	margin-top:	 20px;
	cursor: pointer;
}

.menu-close {
	margin-top: 23px;
}

.navigation .dropdown {
	margin-top: 20px;
}


.navigation .dropdown-menu {
	top: 20px !important;
	left: -16px !important;
	width: 360px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.navigation .dropdown-menu a {
	margin-top: 10px;
}



.search-bar {
	margin-top: 15px;
	margin-left: 0px;
	color: white;
}

.search-bar input:focus {
	background-color: #444;
	color: white;
}

.search-icon {
	position: absolute;
  	margin-left: 52px;
  	height: 40px;
  	display: flex;
  	align-items: center;
  	z-index: 999;
}

.awesomplete {
	margin-left: 20px;
}

.navigation input {
	width: 300px;
	padding-left: 65px;
	margin: 0 auto;
	height: 40px;
	border-radius: 40px 40px 40px 40px;
	background-color: #363d45;
	border: none;
	color: white;
}

.user-group-button {
	margin-top: 15px;
	margin-bottom: 0px;
}

.user-group-button div {
	margin: 0 auto;
	border: 1px solid #00aeef;
	border-radius: 10px 10px;
}

.user-button {
	background-color: #1d252e;
	border: none;
	border-right: 1px solid #00aeef;
}

.user-group-button button {
	width: 129px;
	height: 32px;
	border-radius: 10px 10px;
	
	font-size: 13px;
}



.group-button {
	background-color: #262f38;
	border: none;
}

.friends-list {
	padding: 0;
	border-top: 1px solid #313a42;
	overflow-y: auto;
	overflow-x: hidden;
}

.friends-list ul {
	padding-left: 5px;
}

.friends-list li {
	height: 100px;
	border-bottom: 1px solid #313a42;
}

.friends-list li.selected {
	background-color: #363d45;
}

.friends-list li:hover {
	cursor: pointer;
	background-color: #2b80ff;
}

.friends-list li .list-more {
	height: 20px;
}

.list-active {
	color: #2dc100;
	font-size: 7px;
	position: relative;
	top: -29px;
}

.list-name {
	color: #fff;
}

.list-desc {
	color: #6e747a;
	font-size: 14px;
}

.list-more {
	color: #eee;
	font-size: 3.5px;
}

.list-more i {
	padding-right: 3px;
}

.list-time {
	color: #6e747a;
	font-size: 12px;
}

.friends-list .col-7 {
	padding-top: 6px;
	padding-left: 0;
	line-height: 120%;
}

.friends-list .col-2 {
	line-height: 120%;
}

.friends-list .col-7, .friends-list .col-3{
	padding-right: 0;
	
}

.chat-board {
	min-width: 600px;
	position: fixed;
	right: 0;
	top: 0;
	left: 360px;
	bottom: 117px;
/*	width: 840px;
	flex: none;
	max-width: 840px;*/
	background-color: #1d252e;
	color: white;
	border-left: 1px solid #262f38;
	padding-left: 0px;
	padding-right: 0px;
}

.chat-status {
	border-bottom: 1px solid #313a42;
	height: 70px;
	padding-top: 20px;
	margin-left: 35px;
	margin-right: 20px;
}

.chat-name {
	font-weight: bold;
}

.status {

}

.chat-type {
	font-size: 24px;
	color: #9c9fa3;
	position: fixed;
	right: 200px;
	top: 15px;
}

.chat-phone {
	border-right: solid 1px #9c9fa3;
	padding-right: 20px;
	color: #9c9fa3;
}

.chat-video {
	padding-left: 20px;
	color: #9c9fa3;
}

.chat-board .quick-message {
	position: fixed;
	right: 20px;
	top: 15px;
}

.chat-board .quick-message button {
	border: 1px solid #00aeef;
	border-radius: 10px 10px;
	background-color: #1d252e;
	color: white;
}

.chat-contents {
	position: fixed;
	top: 80px;
	left: 396px;
	right: 0px;
	bottom: 130px;
	font-family: 'robotolight';
	overflow-y: auto;
	overflow-x: hidden;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid yellowgreen;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: yellowgreen;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #88ba1c;  
}

.chat-avatar {
	width: 35px;
	padding-top: 4px;
}

.chat-avatar span {
	font-size: 12px;
	color: #a5a8ab;
}

.chat-content {
	padding: 5px 15px;
}

.chat-content.float-right {
	padding-right: 20px;
}

.callout {display: table}

.callout span {
  display: table-cell;
  vertical-align: middle;
 }

.attachment {
 	color: white;
 	padding-left: 30px;
 	/*cursor: pointer;*/
}

.attachment span {
 	font-size: 40px;
}

 .attachment a {
 	position: relative;
 	top: -10px;
 	color: #00aeef;
 	font-weight: bold;
 	text-decoration: underline;
 }

 .chat-box {
 	height: 117px;
 	background-color: white;
 	position: fixed;
 	bottom: 0px;
 	right: 0px;
 	left: 360px;
 }

.chat-box-container {
	position: relative;
}

 .chat-input {
	margin-top: 15px;
	color: white;
}

.chat-input input {
	color: black;
	height: 40px;
	background-color: transparent;
	border: none;
	outline: none !important;
	margin-top: 25px;
	font-size: 24px;
}

.chat-input input:focus {
	border: none !important;
	outline: none !important;
	outline-width: 0px;
	box-shadow: none !important;
}

.chat-button {

}


.attachment-icon img {
  	margin-top: 35px;
  	margin-left: 20px;
}

.smile-icon {
	color: #aeb1b4;
	font-size: 50px;
	position: fixed;
	right: 130px;
	bottom: 20px;
}

.send-button {
	position: fixed;
	right: 30px;
	bottom: 20px;
}

.send-button {
	display: inline-block;
	border: none;

}

.send-button span i {
	transform: rotate(70deg);
}

#profile-sidebar {
	display: none;
}

.white-panel {
	position: fixed;
	top: 65px;
	bottom: 0px;
	left: 0px;
	width: 360px;
	background-color: #e8ecef;
	overflow-y: auto;
	overflow-x: hidden;	
}

.profile-avatar {
	height: 300px;
}

.sidebar {
	height: 60px;
}

.profile-avatar {
	display: table;
	padding-left: 115px;
}

.profile-avatar div {
  display: table-cell;
  vertical-align: middle;
 }

 .profile-name {
 	font-weight: bold;
 	font-size: 20px;
 }

 .profile-panel {
 	margin: 0 40px;
 	padding-top: 24px;
 	border-top: 1px solid #d0d4d7;
 }

 .profile-panel>div {
 	margin: 12px 0;
 }

 .profile-edit {
 	color: black;
 }

 .profile-content {
 	font-style: italic;
 	font-size: 14px;
 }


#settings-sidebar {
	display: none;
}

#settings-sidebar .white-panel {
	padding: 0 30px;
}

.settings-title {
	font-size: 24px;
}

.settings-font-size .dropdown button {
	margin-top: 10px;
	width: 130px;
	height: 40px;
	background-color: #262f38 !important;
	border: none;
	border-radius: 10px 10px;
	font-style: italic;
}

.settings-font-size .dropdown-toggle::after {
	margin-left: 3.2em !important;
	border-top: 0.6em solid !important;
    border-right: .2em solid transparent !important;
    border-left: .2em solid transparent !important;
    vertical-align: 0.055em !important;
    color: #0084ff !important;
}

.settings-item {
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #d0d4d7;
}

.settings-camera-status {
	color: #f00;
	font-style: italic;
	font-size: 14px;
	margin-top: 5px;
}

.settings-camera-desc {
	font-size: 15px;
	margin-top: 10px;
}

.settings-theme-current {
	display: flex;
	margin-top: 10px;
}


.settings-theme div.rounded-0 {
	width: 42px;
	height: 42px;
	background-color: #262f38;
}

.settings-theme-current span {
	margin-left: 15px;
	margin-top: 8px;
}

.settings-theme-colors {
	height: 100px;
	margin-top: -16px;
}

.settings-theme-colors ul {
	list-style: none;
	padding-left: 0px;
}

.settings-theme-colors ul li {
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	cursor: pointer;
}

.settings-send-button {
	border-bottom: none !important;
}

.settings-button {
	margin-top: 16px;
	cursor: pointer;
}

.settings-button span {
	margin-left: 16px;
}


.quick-message-board {
	width: 345px;
	background-color: #262f38;
	position: fixed;
	right: 0px;
	top: 0px;
	bottom: 0px;
	color: #d2d2d2;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
}

.quick-message-close {
	color: #d2d2d2;
	font-size: 40px;
	margin-right: 10px;
	cursor: pointer;
}


.add-quick-message-button {
	width: 56px;
	height: 56px;
	margin: 0 auto;
	background-color: #0084ff;
	font-size: 32px;
}

.add-quick-message-button i {
	margin-top: 15px;
	color: white
}

.add-quick-message a {
	color: white;
}


.type-quick-message {
	margin: 0px 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #222a32;
}

.type-quick-message textarea {
	margin-top: 15px;
	color: white;
}


.type-quick-message button {
	margin-top: 10px;
	border-radius: 12px 12px;
	width: 90px;
}

.type-quick-message .save {
	color: #d2d2d2;
}

.type-quick-message .button-color {
	background-color: #ebebeb;
	border: none;
	color: #2b323b;
}

.quick-message-control {
	background-color: transparent;
	border: 1px solid #194d7d;
	border-radius: 10px;
}

.quick-message-control:focus {
	background-color: transparent;
	color: white;
}

#quick-message-list .dropdown-toggle {
	font-size: 8px !important;
	color: white !important	;
	margin-top: 10px;
}

#quick-message-list .dropdown-toggle i {
	padding-left: 3px;
}

.more-add {
	margin: 0px 20px;
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #222a32;
}

.more-add a {
	font-size: 15px;
	/*color: white;*/
}



.form-control:disabled, .form-control[readonly] {
     background-color: transparent; 
     opacity: 100; 
}